<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <form action='contact' method="POST">
        {%csrf_token%}
        <h2>Contact Page</h2>
        <input type="text" name='first_name' placeholder="First Name" required=True><br>
        <input type="text" name='last_name' placeholder="Last Name" required=True><br>
        <input type="text" name='country' placeholder="Country" required=True><br>
        <input type="text" name='message' placeholder="Message" required=True><br><br>
        <input type="Submit">    
    </form>
</body>
</html>