{% extends 'base.html'%}
{% block body_block %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deletecustomer</title>
    <link rel="stylesheet" href="{% static 'deposit.css' %}">
</head>
<body><!--
    <form action='deletecustomer' method="POST">
        {%csrf_token%}
        <h2>Delete Customer</h2>
        <br/>
        <input type="number" name='customer_number' placeholder="Customer number" required=True><br><br>
        <input type="Submit">  
    </form>
    <div>
        {% for message in messages %}
        <h3>
          {{message}} 
        </h3>
        {% endfor%}
    </div>
    <br />
    <br />
    <a href="home">Home</a>
     <br />
    <br />
    <a href="cdw">Accounts</a>
     <br />
    <br /><br />
    <br />-->
    <div class="login-box">
        
        <form action='deletecustomer' method="POST">
           {%csrf_token%}
           <h1>Delete Customer</h1>
        <div class="textbox">
           <input type="number" name='customer_number' placeholder="Customer Number" required=True>   
        </div>
        <input class="btn" type="Submit" >
    </div>
   </form>
   <div class="message" align="center">
       {% for message in messages %}
       <h3>{{message}}</h3>
       {% endfor %}
   </div>
   {% endblock %}
    
    
</body>
</html>