<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deposit</title>
</head>
<body>
    <h2>Deposit</h2>
    <form  action="deposit" method="POST">
        {%csrf_token%}
        <input type="number" name='account_number' placeholder="Account number"><br><br>
        <input type="number" name='amount' placeholder="Amount"><br><br>
        <input type="Submit">
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {%endfor%}
    </div>
</body>
</html>