<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee login</title>
</head>
<body>
    <form action='employeelogin' method="post">
        {%csrf_token%}
        <h2>Login</h2>
        <input type="text" name='employee_id' placeholder="Employee ID" required=True><br><br><br>
        <input type="text" name='branch_id' placeholder="Branch ID" required=True><br><br>
        <input type="Submit" value="Login">    
    </form>
    {% for message in messages%}
    <h3>{{message}}</h3>
    {%endfor%}


    <br />
    <br />
    <a href="home">Home</a>
     <br />
    <br />
    <a href="about">About</a><br>
    <br />
    <a href="contact">Contact</a><br>
    <br />
    
</body>
</html>