{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager login</title>
    <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
</head>
<body>
   <!--
    <a href="home">Home</a>
     <br />
    <br />
    <a href="about">About</a>
     <br />
    <br />
    <a href="contact">Contact</a>
    <br />
    <br />-->
     <div class="login-box">
        
         <form action='managerlogin' method="POST">
            {%csrf_token%}
            <h1> Manager Login</h1>
         <div class="textbox">
            <input type="number" name='manager_id' placeholder="Manager ID" required=True>   
         </div>
         <div class="textbox">
            <input type="number" name='branch_id' placeholder="Branch ID" required=True>   
         </div>
         <input class="btn" type="Submit" value='Login'>
     </div>
    </form>
    <div class="message" align="center">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>