<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create account</title>
</head>
<body>
    <form action='newaccount' method="post">
        {%csrf_token%}
        <h2>OPEN ACCOUNT FORM</h2>
        <input type="number" name='Branch_ID' placeholder="Branch ID"><br>
        <input type="text" name='customer_id' placeholder="Customer ID"><br>
        <input type='number' name='account_number' placeholder='Account Number'><br>
        <input type="text" name='type_account' placeholder="Account type"><br>
        <input type="number" name='Amount' placeholder="Amount"><br><br>
        <input type="Submit" ><br>

    </form>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor%}
    <br />
    <br />
    <a href="home">Home</a>
    <br />
    <br />
    <a href="cdw">Accounts</a>
     <br />
    <br />
    <a href="about">About</a>
     <br />
    <br />
    <a href="contact">Conatct</a>
     <br />
    <br />
    
</body>
</html>