<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transfer</title>
</head>
<body>
    <form action="transfer" method="POST">
        {%csrf_token%}
        <input type="number" name="from_account_number" placeholder=" From Account"><br>
        <input type="number" name="to_account_number"  placeholder="To Account"><br><br>
        <input type="number" name='amount'  placeholder="Amount"><br><br>
        <input type="Submit">
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {%endfor%}
    </div>
</body>
</html>