<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transactionhistory</title>
</head>
<body><h2>Transactions</h2>
    <form action="transactionhistory" method="POST">
        {% csrf_token %}
        <input type="number" name=account_number placeholder="Account Number" required=True><br><br>
        <input type='Submit'>
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {%endfor%}
    </div>
    <br />
    <br />
    <a href="home">Home</a>
     <br />
    <br />
    <a href="about">About</a>
     <br />
    <br />
    <a href="contact">Contact</a>
    <br />
    <br />
</body>
</html>